# COMP4115: Exploratory Data Analysis and Visualization
# Lab 3 Excercise on Data Preprocessing

Student Name: 

Student Number:

### Q1. Load the 'loan.csv' into a Pandas DataFrame called df. Get general information of this data frame (e.g., number of non-null values, data type etc).

### Q2. Remove uniformatic Column 'Loan_ID' from df

### Q3. Fill the missing values in columns 'Gender', 'Married' , 'Dependents' and 'Self_Employed' by Mode

### Q4. Fill the missing values in column 'Loan_Amount_Term' by median

### Q5. Fill the missing values in column 'Credit_History' by mean

### Q6. Fill the missing values in column 'LoanAmount' by the mean amount of each {'Gender', 'Married' and 'Self_Employed'} group.

### Q7. Mapping the Ordinal Feature 'Dependents' to numeric by: '0'->1, '1'->1, '2'->2, '3+' -> 3

### Q8. Mapping nomial features 'Gender', 'Married', 'Education'  and 'Self_Employed ' to numeric features.
- 'Gender': 'Male'->0, 'Female'->1
- 'Married': 'Yes'->0, 'No'->1 
- 'Education':'Graduate' -> 0, 'Not Graduate '->1
- 'Self_Employed': 'Yes' -> 0, 'No' -> 1

### Q9. One-hot encoding for 'Property_Area' column and drop original 'Property_Area' from df

### Q10. Apply Z-score normalization to columns 'ApplicantIncome' and 'CoapplicantIncome'